# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.iml
# System Files
.DS_Store
Thumbs.db
package-lock.json
server/package-lock.json
.vscode/launch.json
server/scripts/test-team-crawler.js
server/controllers/initMemory.js
server/utils/temp.js
server/utils/temp.js
server/scripts/test-game-crawler.js
app.js
